[submodule "Merlin/thirdparty/spdlog"]
	path = Merlin/thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Merlin/thirdparty/glfw"]
	path = Merlin/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Merlin/thirdparty/glm"]
	path = Merlin/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Merlin/thirdparty/imgui/imgui"]
	path = Merlin/thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Merlin/thirdparty/stb/stb"]
	path = Merlin/thirdparty/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "Merlin/thirdparty/assimp"]
	path = Merlin/thirdparty/assimp
	url = https://github.com/assimp/assimp
